<div class="body">
    <div class="side-menu">
        <div class="brand-name">
            <h1><img src="../../../assets/images/logoprikriti1.png" alt=""></h1>
        </div>
        <ul >
         
                <li><img src="../../../assets/images/dashboard (2).png"  alt="">&nbsp;<span>Home</span></li>
            <li><img src="../../../assets/images/payment.png" alt="">&nbsp; <span>Oders</span> </li>

            <li><img src="../../../assets/images/reading-book (1).png" alt="">&nbsp;<span>Nurusry</span> </li>
            <li><img src="../../../assets/images/teacher2.png" alt="">&nbsp;<span>Gardners</span> </li>
            <li><img src="../../../assets/images/school.png" alt="">&nbsp;<span>User</span> </li>
            <li><img src="../../../assets/images/payment.png" alt="">&nbsp;<span>Income</span> </li>
            <!-- <li><img src="../../../assets/images/help-web-button.png" alt="">&nbsp; <span>Help</span></li>
            <li><img src="../../../assets/images/settings.png" alt="">&nbsp;<span>Settings</span> </li> -->
        </ul>
    </div>
    <div class="container1">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="../../../assets/images/search.png" alt=""></button>
                </div>
                <div class="user">
                    <a href="#" class="btn">Add New</a>
                    <img src="../../../assets/images/notifications.png" alt="">
                    <div class="img-case">
                        <img src="../../../assets/images/user.png" alt="">
                    </div>
                </div>

            </div>
        </div>


        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>2194</h1>
                        <h3>Sales</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../../assets/images/students.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>53</h1>
                        <h3>products</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../../assets/images/teachers.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>5</h1>
                        <h3>Revenue</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../../assets/images/schools.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>350000</h1>
                        <h3>Orders</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../../assets/images/income.png" alt="">
                    </div>
                </div>
            </div>
            
           </div>
</div>