<div class="container1">
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>2194</h1>
                    <h3>Sales</h3>
                </div>
                <div class="icon-case">
                    <img src="../../../assets/images/students.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>53</h1>
                    <h3>products</h3>
                </div>
                <div class="icon-case">
                    <img src="../../../assets/images/teachers.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>5</h1>
                    <h3>Revenue</h3>
                </div>
                <div class="icon-case">
                    <img src="../../../assets/images/schools.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>350000</h1>
                    <h3>Orders</h3>
                </div>
                <div class="icon-case">
                    <img src="../../../assets/images/income.png" alt="">
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col m-5">
                <h1 style="text-align: center;">New Nurseries Request</h1>
            </div>
        </div>


        <div *ngIf="requestList.length > 0; else elseBlock" class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table table-hover manage-candidates-top mb-0">
                        <thead>
                            <tr>
                                <th>Nursery</th>
                                <th>Nursery Name</th>
                                <th>Join Date</th>
                                <th>Approve</th>
                                <th>Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nursery of requestList; index as i" class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter" class="img-fluid" src="{{nursery.Image}}" alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h5 style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter" class="mb-0">
                                                    <a>{{nursery.nurseryOwnerName}}</a>
                                                </h5>
                                            </div>
                                            <div class="candidate-list-option">
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-mobile" aria-hidden="true"></i> {{nursery.nurseryOwnerMobile}}
                                                    </li>
                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{nursery.nurseryAddress}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{nursery.nurseryName}}
                                </td>
                                <td>
                                    <span class="candidate-list-time order-2">{{nursery.JoinDate | date}}</span>
                                </td>
                                <td>
                                    <a style="cursor: pointer;" (click)="approve(nursery,i)" class="text-success"><i class="fa fa-check"
                      aria-hidden="true"></i>
                  </a>
                                </td>
                                <td>
                                    <a (click)="cancel(nursery,i)" style="cursor: pointer;" class="text-danger"><i class="fa fa-times"
                      aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="row mt-3">
                <div class="col">
                    <h2 style="text-align: center;">No Requests Yet</h2>
                </div>
            </div>
        </ng-template>

    </div>
</div>


<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img src='https://gardendevices.com/wp-content/uploads/2020/09/garden-loader.gif' />"></ngx-spinner>


<!-- <div class="container mt-3 mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                <table class="table table-hover manage-candidates-top mb-0">
                    <thead>
                        <tr>
                            <th>Nursery</th>
                            <th>Nursery Name</th>
                            <th>All Products</th>
                            <th>Join Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nursery of requestList; index as i" class="candidates-list">
                            <td class="title">
                                <div class="thumb">
                                    <img style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter"
                                        class="img-fluid" src="{{nursery.Image}}" alt="">
                                </div>
                                <div class="candidate-list-details">
                                    <div class="candidate-list-info">
                                        <div class="candidate-list-title">
                                            <h5 style="cursor: pointer;" data-toggle="modal"
                                                data-target="#exampleModalCenter" class="mb-0">
                                                <a>{{nursery.nurseryOwnerName}}</a>
                                            </h5>
                                        </div>
                                        <div class="candidate-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-mobile" aria-hidden="true"></i>
                                                    {{nursery.nurseryOwnerMobile}}</li>
                                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    {{nursery.nurseryAddress}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{nursery.nurseryName}}
                            </td>
                            <td>
                                <i routerLink="product-list/{{nursery._id}}" class="fa fa-eye" aria-hidden="true"></i>
                            </td>
                            <td>
                                <span class="candidate-list-time order-2">{{nursery.JoinDate | date}}</span>
                            </td>
                            <td>
                                <a style="cursor: pointer;" class="text-success" data-toggle="tooltip" title=""
                                    data-original-title="unblock"><i style="font-size: 30px;" class="fa fa-unlock"
                                        aria-hidden="true"></i>
                                </a>

                                <a style="cursor: pointer;" class="text-danger" data-toggle="tooltip" title=""
                                    data-original-title="block"><i style="font-size: 30px;" class="fa fa-lock"
                                        aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->