<div class="side-menu">
  <div class="brand-name">
    <h1><img class="mt-5" src="../../../../../assets/images/Group40.png" alt=""></h1>
  </div>
  <ul class="menu-list new ">
    <li class="cursor-pointer mt-2" routerLink="/nursery"><img   src="../../../../../assets/images/home-regular-36.png"/>&nbsp;<span>Home</span>
    </li>
    <li class="cursor-pointer mt-2" routerLink="contact-us"><img width="37px" height="35px" src="../../../../../assets/images/contectUs.png" />&nbsp;<span>Contact
        Us</span></li>
    <li class="cursor-pointer mt-2" routerLink="product-list"><img  width="38" height="44" src="../../../../../assets/images/product2.png"
        alt="">&nbsp;
      <span>Products</span>
    </li>
    <li class="cursor-pointer mt-2" routerLink="gardener"><img  src="../../../../../assets/images/gardener4.png" 
        alt="">&nbsp;<span>Gardeners</span>
    </li>
    <li class="cursor-pointer mt-2" routerLink="blog-list"><img  src="../../../../../assets/images/Blog12.png"  />&nbsp;<span>Blogs</span>
    </li>
    <li class="cursor-pointer mt-2" routerLink="order-history"><img  src="../../../../../assets/images/order.png"/>&nbsp;<span>Orders</span>
    </li>
  </ul>
</div>

<div class="container1">
  <div class="header">
    <div class="nav">
      <div class="user">
        <!-- <a href="#" class="btn">Add New</a> -->
        <!-- <img src="../../../assets/images/notifications.png" alt=""> -->
        <!-- <div class="img-case">
                    <img [src]="profileImage" alt="">
                </div> -->
        <div class="nav-item dropdown mr-5">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{profileImage}}"
              class="img-case" alt="{{defaultImage()}}"> <b class="caret"></b></a>
          <div class="dropdown-menu">
            <a routerLink="view-profile" class="dropdown-item">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABiElEQVRIS7WVgVHDMAxF2wmACSgTABuECYAJKBvABHQDYALKBMAEhAlaNigTABPAfzm7pxrZSXrEd7oktqwvfX8r49HAYzxw/FEXgDMlcSo7CkZOy2DPer6UkiwBVNr4IJu0VLnS+qWs9vxyADM53/Sk70r+9+keDwDH257Bo/u1Xu7s3hQAWl63DB63nVi6UgD43HcAvjUHbfOwNg3fO44vMQ7ivAVALU+Z7P+ULr8SledaR2EbMiW7iwzAnua/krVdfX9m/B81T5UbAGj78J8AiHWcAvxkgjPdl6J1bHsGJQDomckonQGVfENTbjSxLUCJokIcd+lds7SWzof8Id9atgrhJnpWMk/SuLiH7MkU/TNPcG8AghzT++DKlABkaLNCCVBXGlCxMA5US4XNaGsVc/mgoPQOxP0cMn1ragCKrQK/9IZGBb2ZasiafwS+VkmtzS4msk1H9e5K8Y9WCQ2KckqJycA5FNWGpvVr118mSoKW2ErQOYePgpqmlhtdAEr7W9cGB/gFF0hJGYa8DoAAAAAASUVORK5CYII=" />
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a style="cursor: pointer;" (click)="signOut()" class="dropdown-item">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAx0lEQVRIS2NkoDFgpLH5DHS3wAHoo/lArECmzx4A9SUC8QGYfnQfgBTIk2k4TNsHIEMQlwX/oRLkBh2GfnSDhr8Fs4FBmA3Ev3DEE8EgIhS/IANOAHEQED/HopgqFoDMBRkOsgRkGTIgaAFMASGfgORBwQQKrjlIigfeAkIuh7mQ7CAixgKKIplQRqM4mRKygBgfgtTAS4jhV1Q8AHqP0uL6IdAMBVhYogeRA1BiAQWWgAxPAOIDuCwgFIkky5NbsRBtEc0tAACqFDYZq5G04wAAAABJRU5ErkJggg==" />
              Sign-out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container1">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
