<div class="side-menu">

  <ul class="menu-list">
    <li class="cursor-pointer" routerLink="/admin"><img src="../../../../../assets/images/dashboard2.png"
        alt="">&nbsp;<span>Dashboard</span>
    </li>
    <li class="cursor-pointer" routerLink="category-list"><img src="../../../../../assets/images/categories.png"
        alt="">&nbsp;
      <span>Categories</span>
    </li>

    <li class="cursor-pointer" routerLink="nursery-list"><img src="../../../../../assets/images/nursery.png"
        alt="">&nbsp;<span>Nuseries</span>
    </li>
    <li class="cursor-pointer" routerLink="gardener-list"><img src="../../../../../assets/images/gardener.png"
        alt="">&nbsp;<span>Gardeners</span>
    </li>
    <li class="cursor-pointer" routerLink="user-list"><img src="../../../../../assets/images/customer.png"
        alt="">&nbsp;<span>Users</span>
    </li>
    <li class="cursor-pointer" routerLink="all-orders"><img src="../../../../../assets/images/orders.png"
        alt="">&nbsp;<span>Orders</span>
    </li>
    <li class="cursor-pointer" (click)="signOut()"><img style="width: 40px; height: 40px; filter: invert(1);"
        src="../../../../../assets/images/exit-regular-24.png" alt="">&nbsp;<span>Sign
        Out</span> </li>
  </ul>
</div>

<div class="container1">
  <div class="header">
    <div class="nav">
      <div class="brand-name">
        <h1><img src="../../../../../assets/images/Group40.png" alt=""></h1>
      </div>
      <div class="user">

        <!--
        <div class="img-case"> -->

        <!-- </div> -->
        <img style="cursor: pointer; right: 0;" routerLink="query-list" src="../../../assets/images/notifications.png"
          alt="">
        <img class="" [src]="profileImage" alt="{{defaultImage()}}">

      </div>
    </div>
  </div>
</div>
<div class="container1">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
