<div class="container mt-3 mb-4">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center; margin: 30px;">All Products</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button data-toggle="modal" data-target="#my2Modal" style="float: right;" class="btn btn-success m-3"><i
          class="fa fa-plus" aria-hidden="true"></i> Add
        Product</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                <table class="table table-hover manage-candidates-top mb-0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>product</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productList | paginate: { itemsPerPage: 8, currentPage: page}" class="candidates-list">
                            <td class="title">
                                <div class="thumb">
                                    <img class="img-fluid" src="{{product.productImage}}" alt="">
                                </div>
                            </td>

                            <td>
                                <div class="candidate-list-details">
                                    <div class="candidate-list-info">
                                        <div class="candidate-list-title">
                                            <h5 style="cursor: pointer;" class="mb-0">
                                                <a>{{product.productName}}</a>
                                            </h5>
                                        </div>
                                        <div class="candidate-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-circle" aria-hidden="true"></i> {{product.categoryName}}</li>
                                                <br>
                                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{product.productRating.length}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{product.productName}}
                            </td>
                            <td>
                                <a ata-toggle="modal" data-target="#myModal" style="cursor: pointer;" class="text-primary"><i
                    style="font-size: 30px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                            </td>
                            <td>
                                <a style="cursor: pointer;" class="text-danger" data-toggle="tooltip" title="" data-original-title="block"><i style="font-size: 30px;" class="fa fa-trash" aria-hidden="true"></i>
                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="(productList.length > 0)" class="row mt-5">
        <div class="col col-lg-3 col-md-2 col-sm-0"></div>
        <div class="col col-lg-6 col-md-8 col-sm-12">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        <div class="col col-lg-3 col-md-2 col-sm-0"></div>
    </div>
</div>
