<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row  d-flex justify-content-center">
      <div class="col-xl-10 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0 hightw">
            <div class="col-sm-4 bg-c-lite-green border1 user-profile">
              <div class="card-block text-center ">
                <div class="m-b-25 " style="margin-top: 10%;">
                  <img src="{{gardenerData.gardenerImage}}" width="200px" height="200px" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 mt-3 imageName">{{gardenerData.gardenerName}}</h6>
                <p class="mt-3">Gardener</p>
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600 pHeading">Information</h6>
                <div class="row mt-5">
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1 pData">Name</p>
                    <h6 class="text-muted  pHeading">{{gardenerData.gardenerName}}</h6>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1 pData">Address</p>
                    <h6 class="text-muted  pHeading">{{gardenerData.gardenerAddress}}
                    </h6>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1 pData">Email</p>
                    <h6 class="text-muted  pHeading">{{gardenerData.gardenerEmail}}</h6>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1 pData">Phone</p>
                    <h6 class="text-muted  pHeading">{{gardenerData.gardenerMobile}}</h6>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1 pData">Experience</p>
                    <h6 class="text-muted  pHeading">{{gardenerData.gardenerExperience}}</h6>
                  </div>
                  <!-- <div *ngIf="!oldRate" class="col-12 text-center mt-3">
                    <a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary border-btn">Rate
                      Gardener</a>
                  </div> -->
                  <button *ngIf="!oldRate" data-toggle="modal" data-target="#exampleModalCenter"
                    class="mt-5 btn btn-primary" style="width: 25%; margin-left: 35%;">Rate
                    Gardener</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SPINNER -->
<ngx-spinner bdColor="white"
  template="<img style='height:300px;width:300px;' src='../../../../../assets/images/spinner.gif' />">
</ngx-spinner>
